/* PSEUDO ELEMENTOS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border: 1px solid red;
    color: blue;
}

input::placeholder {
    color: green;
}
p {
    color: brown;
}

p::first-line {
    color: gray;
}

a {
    color: red;
}

a::after {
    content: "<<<";
}

a::before {
    content: ">>>";
}