/*  Responsividade

    All: Para todos os dispositivos;
    Braille: para dispositivos táteis;
    Embossed: para dispositivos que imprime braille;
    Handheld: para dispositivos portáteis, geralmente com telas pequenas e banda limitada.;
    Print: Para impressão em papel;
    Projection: Para apresentações como PPS;
    Screen: Para monitores ou dispositivos com telas coloridas e resolução adequada;
    Speech: Para sintetizadores de voz. As CSS 2 tem uma especificação de CSS chama Aural, onde podemos formatar a voz dos sintetizadores.

    Orientação
    portrait > altura maior que a largura;
    landscape > Largura maior que a altura

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    height: 200px;
    width: 200px;
    background: blue;
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    div {
        background: red;

        height: 200px;
        width: 200px;
    }
}